#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
open -a Terminal.app Espresso.terminal
defaults write com.apple.terminal "Default Window Settings" -string "Espresso"
defaults write com.apple.Terminal "Startup Window Settings" -string "Espresso"
{{ end -}}
